#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=pvbrowser HMI/SCADA client
Encoding=UTF-8
Exec=pvbrowser
GenericName=pvbrowser
Icon=/opt/pvb/logo1.png
MimeType=
Name=pvbrowser
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;WebBrowser;SCADA;
