     body { margin-left:   25mm; }
     body { margin-right:  10mm; }
     body { margin-bottom: 20mm; }
     body { margin-top:    20mm; }
     h1 {
                 page-break-before: always;
     }
     p { text-align: center; }

table { caption-side: bottom; }

table,
th,
td { border: 1px solid; border-collapse: collapse; }

